@page
@model tbkk_AC.Pages.Brands.DetailsModel

@{
    ViewData["Title"] = "Details";
}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Brand Detail</h2>
                <div class=" col-md-12 col-lg-12 ">
                    <div class="card " style="margin-top:1%">
                        <div class="card-header" style="font-weight:bold;color:darkblue;">
                            Detail
                        </div>
                        <div class="card-body">
                            <table class="table table-user-information" style="margin-top:-16%;margin-bottom:-6%">
                                <tbody>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Brand.BrandID) :</td>
                                                    <td>@Html.DisplayFor(model => model.Brand.BrandID)</td>
                                                </div>
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Brand.BrandName) :</td>
                                                    <td>@Html.DisplayFor(model => model.Brand.BrandName)</td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Brand.Status) :</td>
                                                    <td>@Html.DisplayFor(model => model.Brand.Status)</td>

                                                </div>
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>

                                                </div>
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2></h2>
                <div class="col-md-3 col-lg-3 " align="center" style="margin-top:15%">
                    <img src="~/uploads/@Html.DisplayFor(model => model.Brand.Image)" width="200px" height="220px" />
                </div>
            </div>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Brand.BrandID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
