@page
@model tbkk_AC.Pages.Suppliers.DetailsModel

@{
    ViewData["Title"] = "Details";
}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Supplier Detail</h2>
                <div class=" col-md-12 col-lg-12 ">
                    <div class="card " style="margin-top:1%">
                        <div class="card-header" style="font-weight:bold;color:darkblue;">
                            Detail
                        </div>
                        <div class="card-body">
                            <table class="table table-user-information" style="margin-top:-16%;margin-bottom:0%">
                                <tbody>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.SupplierID) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.SupplierID)</td>
                                                </div>
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.SupplierName) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.SupplierName)</td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.ContactName) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.ContactName)</td>

                                                </div>
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>

                                                </div>
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card " style="margin-top:-4%">
                        <div class="card-header" style="font-weight:bold;color:darkblue;">
                            Address
                        </div>
                        <div class="card-body">
                            <table class="table table-user-information" style="margin-top:-16%;margin-bottom:-2%">
                                <tbody>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.Email) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.Email)</td>

                                                </div>
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.Address) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.Address)</td>

                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.URL) :</td>
                                                    <td>@Html.DisplayFor(model => model.Supplier.URL)</td>

                                                </div>
                                                <div class="col">
                                                    <td>@Html.DisplayNameFor(model => model.Supplier.Note) :</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="5" cols='20'>@Html.DisplayFor(model => model.Supplier.Note)</textarea>
                                                        </div>
                                                    </td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>

                                                </div>
                                                <div class="col">
                                                    <td></td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Supplier.SupplierID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>

 