@page
@model tbkk_AC.Pages.JoinNetwork_Assets.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="card-body">
    <h2>Please Select Join</h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Please Select
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="../JoinAsset_Assets/Create">Join Asset Assets</a>
            <a class="dropdown-item" href="../JoinAsset_Emp/Create">Join Asset Emp</a>
            <a class="dropdown-item" href="../JoinLicense_Assets/Create">Join License Assets</a>
            <a class="dropdown-item" href="../JoinNetwork_Assets/Create">Join Network Assets</a>
        </div>


    </div>
    <form method="post">
        <div class="card " style="margin-top:1%">
            <div class="card-header">
                Create
            </div>
            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-sm-0 col-form-label" asp-for="Join_Network_Asset.Asset_AssetID"></label>
                                <input class="form-control" placeholder="AssetID" asp-for="Join_Network_Asset.Asset_AssetID" id="Asset" />
                                <span class="text-danger" asp-validation-for="Join_Network_Asset.Asset_AssetID"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" asp-for="Join_Network_Asset.Network_NetworkID"></label>
                        <input class="form-control" placeholder="NetworkID" asp-for="Join_Network_Asset.Network_NetworkID" id="Net" />
                        <span class="text-danger" asp-validation-for="Join_Network_Asset.Network_NetworkID"></span>
                    </div>
                </div>
                <input class="form-control" placeholder="AssetID" asp-for="Join_Network_Asset.Status" value="Join" type="hidden" />
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="col-sm-0 col-form-label" asp-for="Join_Network_Asset.Note"></label>
                        <textarea rows="4" cols="15" class="form-control" asp-for="Join_Network_Asset.Note"></textarea>
                        <span class="text-danger" asp-validation-for="Join_Network_Asset.Note"></span>

                    </div>
                </div>
                <div class="form-group row" style="float:right; margin-right:0% ; margin-top:1%">
                    <a asp-page="./Index"><button type="button" class="btn btn-link">Back to List</button></a>
                    <input style="margin-left:10px" type="submit" value="Create" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </form>
    <div style="margin-top:1%">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Asset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Network</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered " id="dataTable" width="100%" cellspacing="3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].AssetID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].AssetName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].PurchaseDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].Status)
                                    </th>
                                    <th>
                                        Company
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Department
                                    </th>

                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Asset)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssetID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssetName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company_CompanyID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location_LocationID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department_DepartmentID)
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-outline-success" onclick="select1(@item.AssetID)">Select</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered " id="dataTable1" width="100%" cellspacing="3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].NetworkID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].NetworkName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].IpAddr)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].Status)
                                    </th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item1 in Model.Network)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item1.NetworkID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item1.NetworkName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item1.IpAddr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item1.Status)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success" onclick="select2(@item1.NetworkID)">Select</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    function select1(Ass) {
        document.getElementById("Asset").value = Ass
    }
    function select2(Net) {
        document.getElementById("lic").value = Net
    }

    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <h2>Create</h2>

    <h4>Join_Network_Asset</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Join_Network_Asset.Note" class="control-label"></label>
                    <input asp-for="Join_Network_Asset.Note" class="form-control" />
                    <span asp-validation-for="Join_Network_Asset.Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Join_Network_Asset.Status" class="control-label"></label>
                    <input asp-for="Join_Network_Asset.Status" class="form-control" />
                    <span asp-validation-for="Join_Network_Asset.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Join_Network_Asset.Network_NetworkID" class="control-label"></label>
                    <select asp-for="Join_Network_Asset.Network_NetworkID" class="form-control" asp-items="ViewBag.Network_NetworkID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Join_Network_Asset.Asset_AssetID" class="control-label"></label>
                    <select asp-for="Join_Network_Asset.Asset_AssetID" class="form-control" asp-items="ViewBag.Asset_AssetID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
