@page
@model tbkk_AC.Pages.JoinNetwork_Assets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Join_Network_Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Join_Network_Asset.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Join_Network_Asset.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Join_Network_Asset.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Join_Network_Asset.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Join_Network_Asset.Network)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Join_Network_Asset.Network.IpAddr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Join_Network_Asset.Asset)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Join_Network_Asset.Asset.AssetName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Join_Network_Asset.JoinNetAsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
