@page 
@model tbkk_AC.Pages.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Asset Control</li>
            <li class="breadcrumb-item active">Managment</li>
            <li class="breadcrumb-item active">Asset</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table"> Asset</i>
                    <div style="float: right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                            Launch demo modal
                        </button>
                        <a asp-page="Create">

                            <button type="button" class="btn btn-primary brands-modal">
                                Create
                            </button>
                        </a>
                        <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Import data</button>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Search data</button>
                    </div>
                </div>

            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="collapse multi-collapse" id="multiCollapseExample2" style="margin-top:1%;margin-left:auto">
                    <div class="card card-body" style="margin-left:70%">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fUpload" name="Excel" onchange="run()">
                                <label class="custom-file-label" for="fUpload" id="ff"></label>
                            </div>
                            <div class="input-group-append">
                                <input class="btn btn-outline-info" value="Upload" type="submit" asp-page-handler="Import" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form>
                <div class="collapse multi-collapse" id="multiCollapseExample3" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label"> PO Number</label>
                                        <input class="form-control form-control-sm" placeholder="PO Number" id="PONumber" asp-for="PONumber" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Supplier</label>
                                        <select class="form-control form-control-sm" id="Supplier" asp-for="SupplierID">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Supplier)
                                            {
                                                if (!item.Status.Equals("Unused"))
                                                {
                                                    <option value=@item.SupplierID>@Html.DisplayFor(modelItem => item.SupplierName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Category</label>
                                        <select class="form-control form-control-sm" id="Category" asp-for="CategoryID">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Category)
                                            {
                                                if (!item.Status.Equals("Unused"))
                                                {
                                                    <option value=@item.CategoryID>@Html.DisplayFor(modelItem => item.CategoryName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Location</label>
                                        <select class="form-control form-control-sm" id="Location" asp-for="LocationID">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Location)
                                            {
                                                if (!item.Status.Equals("Unused"))
                                                {
                                                    <option value=@item.LocationID>@Html.DisplayFor(modelItem => item.LocationName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Department</label>
                                        <select class="form-control form-control-sm" id="Department" asp-for="DepartmentID">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Department)
                                            {
                                                if (!item.Status.Equals("Unused"))
                                                {
                                                    <option value=@item.DepartmentID>@Html.DisplayFor(modelItem => item.DepartmentName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Company</label>
                                        <select class="form-control form-control-sm" id="Company" asp-for="CompanyID">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Company)
                                            {
                                                if (!item.Status.Equals("Unused"))
                                                {
                                                    <option value=@item.CompanyID>@Html.DisplayFor(modelItem => item.CompanyName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-0 col-form-label">Status</label>
                                        <select class="form-control form-control-sm" id="Status" asp-for="Status">
                                            <option selected value=@null>Plase select</option>
                                            <option value="Using">Using</option>
                                            <option value="InStock">InStock</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="float: right;margin-bottom:1% ">
                                <button type="submit" class="btn btn-primary brands-modal">
                                    Search
                                </button>
                         
                            <button class="btn btn-info" type="button" onclick="clear1()">Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:small">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Asset[0].AssetName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asset[0].PONumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asset[0].Category)
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>
                                Company
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Asset[0].Status)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Asset)
                        {
                            if (!item.Status.Equals("Unused"))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PONumber)
                                    </td>

                                    <td>
                                        @foreach (var item1 in Model.Category)
                                        {
                                            if (item.Category == item1.CategoryID)
                                            {
                                                @Html.DisplayFor(modelItem => item1.CategoryName)
                                            }
                                        }
                                    </td>

                                    <td>
                                        @foreach (var item1 in Model.Department)
                                        {
                                            if (item.Department_DepartmentID == item1.DepartmentID)
                                            {
                                                @Html.DisplayFor(modelItem => item1.DepartmentName)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var item1 in Model.Supplier)
                                        {
                                            if (item.Supplier_SupplierID == item1.SupplierID)
                                            {
                                                @Html.DisplayFor(modelItem => item1.SupplierName)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var item1 in Model.Company)
                                        {
                                            if (item.Company_CompanyID == item1.CompanyID)
                                            {
                                                @foreach (var item2 in Model.Location)
                                                {
                                                    if (item.Location_LocationID == item2.LocationID)
                                                    {
                                                        @Html.DisplayFor(modelItem => item2.LocationName)<text>/</text>@Html.DisplayFor(modelItem => item1.CompanyName)
                                                    }
                                                }

                                            }
                                        }
                                    </td>



                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>

                                    <td width="100px">
                                        <a asp-page="./Edit" asp-route-id="@item.AssetID">Edit</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.AssetID">Delete</a>
                                        <a asp-page="./Details" asp-route-id="@item.AssetID">Deatail</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<form method="post" enctype="multipart/form-data">
    <div class="modal fade bd-example-modal-xl" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.AssetName" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.AssetName" class="form-control" placeholder="AssetName" />
                                        <span asp-validation-for="AssetCreate.AssetName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.MACAddr" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.MACAddr" class="form-control" placeholder="MACAddr" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Price" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.Price" type="number" class="form-control" placeholder="Price" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Category" class="col-sm-0 col-form-label"></label>
                                        <select asp-for="AssetCreate.Category" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Category)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.CategoryID>@Html.DisplayFor(modelItem => item.CategoryName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.SerailNumber" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.SerailNumber" class="form-control" placeholder="SerailNumber" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.PONumber" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.PONumber" class="form-control" placeholder="PONumber" />
                                        <span asp-validation-for="AssetCreate.PONumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Warranty" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.Warranty" type="number" class="form-control" placeholder="Warranty" />
                                        <span asp-validation-for="AssetCreate.Warranty" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Supplier_SupplierID" class="col-sm-0 col-form-label">Supplier</label>
                                        <select asp-for="AssetCreate.Supplier_SupplierID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Supplier)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.SupplierID>@Html.DisplayFor(modelItem => item.SupplierName)</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Company_CompanyID" class="col-sm-0 col-form-label">Company</label>
                                        <select asp-for="AssetCreate.Company_CompanyID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Company)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.CompanyID>@Html.DisplayFor(modelItem => item.CompanyName)</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="AssetCreate.Company_CompanyID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Location_LocationID" class="col-sm-0 col-form-label">Company</label>
                                        <select asp-for="AssetCreate.Location_LocationID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Location)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.LocationID>@Html.DisplayFor(modelItem => item.LocationName)</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>

                            </div>

                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Model_ModelID" class="col-sm-0 col-form-label">Model</label>
                                        <select asp-for="AssetCreate.Model_ModelID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Model)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.ModelID>@Html.DisplayFor(modelItem => item.ModelName)</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Department_DepartmentID" class="col-sm-0 col-form-label">Department</label>
                                        <select asp-for="AssetCreate.Department_DepartmentID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Department)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.DepartmentID>@Html.DisplayFor(modelItem => item.DepartmentName)</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.InstallDate" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.InstallDate" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.PurchaseDate" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.PurchaseDate" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.ExpireDate" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.ExpireDate" class="form-control" placeholder="URL" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Note" class="col-sm-0 col-form-label"></label>
                                        <textarea rows="4" cols="15" asp-for="AssetCreate.Note" class="form-control"></textarea>
                                        <span asp-validation-for="AssetCreate.Note" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AssetCreate.Status" class="col-sm-0 col-form-label"></label>
                                        <input asp-for="AssetCreate.Status" class="form-control" value="InStock" readonly />
                                        <span asp-validation-for="AssetCreate.Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="photo" id="pho1" asp-for="AssetCreate.Image" accept="image/jpeg,image/jpg" />
                                    <input asp-for="AssetCreate.Image" class="form-control" hidden id="pho2" />

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input style="margin-left:10px" type="submit" asp-page-handler="Create" onclick="run1" value="Create" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" enctype="multipart/form-data">
    <div class="modal fade bd-example-modal-xl" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input style="margin-left:10px" type="submit" asp-page-handler="Create" onclick="run1" value="Create" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function run1() {
        document.getElementById("pho2").value = document.getElementById("pho1").value
    }
    function run() {
        document.getElementById("ff").innerHTML = document.getElementById("fUpload").value
    } function clear1() {
        
        document.getElementById("Supplier").selectedIndex = "0";
        document.getElementById("PONumber").value = "";
        document.getElementById("Company").selectedIndex = "0";
        document.getElementById("Status").selectedIndex = "0";
        document.getElementById("Department").selectedIndex = "0";
        document.getElementById("Location").selectedIndex = "0";
        document.getElementById("Category").selectedIndex = "0";
    }
</script>
