@page
@model tbkk_AC.Pages.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Asset Control</li>
            <li class="breadcrumb-item active">Managment</li>
            <li class="breadcrumb-item active">Asset</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table">Asset</i>
                    <div style="float: right">
                        <a asp-page="Create">
                            <button type="button" class="btn btn-primary brands-modal">

                                Create
                            </button>
                        </a>
                        <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->
                        <button type="button" class="btn btn-info">Import data</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].AssetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].InstallDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].PONumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].Status)
                                </th>
                                <th>
                                    Department

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Asset[0].Supplier)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Asset)
                            {
                                if (!item.Status.Equals("Unused"))
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssetName)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstallDate)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PONumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department_DepartmentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Supplier.Address)
                                    </td>
                                   
                                    <td width="100px">
                                        <a asp-page="./Edit" asp-route-id="@item.AssetID">Edit</a>
                                        <a asp-page="./Details" asp-route-id="@item.AssetID">Edit</a>|
                                        <a asp-page="./Delete" asp-route-id="@item.AssetID">Delete</a>
                                    </td>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>