@page
@model tbkk_AC.Pages.Update_Licenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Update_License</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Update_License.Date" class="control-label"></label>
                <input type="hidden" asp-for="Update_License.Date" value="@DateTime.Now" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.LicenseName" class="control-label"></label>
                <input asp-for="Update_License.LicenseName" class="form-control" value="@Model.License.LicenseName" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.SoftewareName" class="control-label"></label>
                <input asp-for="Update_License.SoftewareName" class="form-control" value="@Model.License.SoftewareName" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.PurchaseDate" class="control-label"></label>
                <input type="hidden" asp-for="Update_License.PurchaseDate" class="form-control" value="@Model.License.PurchaseDate" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.StartDate" class="control-label"></label>
                <input type="hidden" asp-for="Update_License.StartDate" class="form-control" value="@Model.License.StartDate" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.ExpireDate" class="control-label"></label>
                <input type="hidden" asp-for="Update_License.ExpireDate" class="form-control" value="@Model.License.ExpireDate" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.PONumber" class="control-label"></label>
                <input asp-for="Update_License.PONumber" class="form-control" value="@Model.License.PONumber" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Attachfiles" class="control-label"></label>
                <input asp-for="Update_License.Attachfiles" class="form-control" value="@Model.License.Attachfiles" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Note" class="control-label"></label>
                <input asp-for="Update_License.Note" class="form-control" value="@Model.License.Note" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Status" class="control-label"></label>
                <input asp-for="Update_License.Status" class="form-control" value="@Model.License.Status" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Employee" class="control-label"></label>
                <input asp-for="Update_License.Employee" class="form-control" value="Admin" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Model_ModelID" class="control-label"></label>
                <input asp-for="Update_License.Model_ModelID" class="form-control" value="@Model.License.Model_ModelID" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Supplier_SupplierID" class="control-label"></label>
                <input asp-for="Update_License.Supplier_SupplierID" class="form-control" value="@Model.License.Supplier_SupplierID" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Department_DepartmentID" class="control-label"></label>
                <input asp-for="Update_License.Department_DepartmentID" class="form-control" value="@Model.License.Department_DepartmentID" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.Company_CompanyID" class="control-label"></label>
                <input asp-for="Update_License.Company_CompanyID" class="form-control" value="@Model.License.Company_CompanyID" />

            </div>
            <div class="form-group">
                <label asp-for="Update_License.License_LicenseID" class="control-label"></label>
                <input asp-for="Update_License.License_LicenseID" class="form-control" value="@Model.License.LicenseID" />

            </div>
            <div class="form-group">

                <input type="submit" value="Create" id="myCheck" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<script>
    setTimeout(
        function () {
            document.getElementById("myCheck").click();
            console.log("111");
        }, 1);
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
