@page
@model tbkk_AC.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Category Detail</h2>
            <div class=" col-md-12 col-lg-12 ">
                <div class="card " style="margin-top:1%">
                    <div class="card-header" style="font-weight:bold;color:darkblue;">
                        Details
                    </div>
                    <div class="card-body">
                        <table class="table table-user-information" style="margin-top:-16%;margin-bottom:-3%">
                            <tbody>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Category.CategoryID) :</td>
                                                <td>@Html.DisplayFor(model => model.Category.CategoryID)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Category.CategoryName) :</td>
                                                <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>

                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Category.TypeName) :</td>
                                                <td>@Html.DisplayFor(model => model.Category.TypeName)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Category.Status) :</td>
                                                <td>@Html.DisplayFor(model => model.Category.Status)</td>

                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td></td>
                                                <td></td>

                                            </div>
                                            <div class="col">
                                                <td></td>
                                                <td></td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2></h2>
            <div class="col-md-3 col-lg-3 " align="center">
                <img src="~/uploads/@Html.DisplayFor(model => model.Category.Image)" width="200px" height="220px" />

            </div>

        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
