@page
@model tbkk_AC.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Asset Control</a>
            </li>
            <li class="breadcrumb-item active">Managment</li>
            <li class="breadcrumb-item active">Category</li>
        </ol>
        <!-- DataTables Example -->

        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table">Category</i>
                    <div style="float: right">
                        <a asp-page="Create"><button type="button" class="btn btn-primary">Create</button></a>

                        <button type="button" class="btn btn-info">Import data</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category[0].CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category[0].Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category[0].TypeName)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Category)
                            {
                                if (item.Status.Equals("Using"))
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        <img src="~/uploads/@Html.DisplayFor(modelItem => item.Image)" width="100px" height="120px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeName)
                                    </td>
                                    <td width="100px">
                                        <a asp-page="./Edit" asp-route-id="@item.CategoryID">Edit</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.CategoryID">Delete</a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

