@page
@model tbkk_AC.Pages.UpdateAssets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Update_Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.AssetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.AssetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.SerailNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.SerailNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.MACAddr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.MACAddr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.InstallDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.InstallDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.ExpireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.ExpireDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.PONumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.PONumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Warranty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Warranty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Location_LocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Location_LocationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Company_CompanyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Company_CompanyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Department_DepartmentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Department_DepartmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Supplier_SupplierID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Supplier_SupplierID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Employee_EmpID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Employee_EmpID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Asset_AssetID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Asset_AssetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Asset.Model_ModelID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Asset.Model_ModelID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Update_Asset.UpdateAssetID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
