@page
@model tbkk_AC.Pages.Networks.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Network Detail</h2>
            <div class=" col-md-12 col-lg-12 ">
                <div class="card " style="margin-top:1%">
                    <div class="card-header" style="font-weight:bold;color:darkblue;">
                        Detail
                    </div>
                    <div class="card-body">
                        <table class="table table-user-information" style="margin-top:-21%;margin-bottom:-6%">
                            <tbody>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.NetworkID) :</td>
                                                <td>@Html.DisplayFor(model => model.Network.NetworkID)</td>
                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.NetworkName) :</td>
                                                <td>@Html.DisplayFor(model => model.Network.NetworkName)</td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.IpAddr) :</td>
                                                <td>@Html.DisplayFor(model => model.Network.IpAddr)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Password) :</td>
                                                <td>@Html.DisplayFor(model => model.Network.Password)</td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Status) :</td>
                                                <td>@Html.DisplayFor(model => model.Network.Status)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Note) :</td>
                                                <td>
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="5" cols='20'>@Html.DisplayFor(model => model.Network.Note)</textarea>
                                                    </div>
                                                </td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td></td>
                                                <td></td>

                                            </div>
                                            <div class="col">
                                                <td></td>
                                                <td></td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Network.NetworkID">Edit</a> |
        <a asp-page="./Index" >Back to List</a>
    </div>
</div>




