@page
@model tbkk_AC.Pages.Networks.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Asset Control</a>
                </li>
                <li class="breadcrumb-item active">Managment</li>
                <li class="breadcrumb-item active">Network</li>
            </ol>
            <!-- DataTables Example -->

            <div class="card mb-3">
                <div class="card-header">
                    <div class="dataTable_length">
                        <i class="fas fa-table">Network</i>
                        <div style="float: right">
                            <a asp-page="Create"><button type="button" class="btn btn-primary">Create</button></a>

                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Import data</button>
                        </div>
                    </div>

                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="collapse multi-collapse" id="multiCollapseExample2" style="margin-top:1%;margin-left:auto">
                        <div class="card card-body" style="margin-left:70%">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fUpload" name="Excel" onchange="run()">
                                    <label class="custom-file-label" for="fUpload" id="ff"></label>
                                </div>
                                <div class="input-group-append">
                                    <input class="btn btn-outline-info" value="Upload" type="submit" asp-page-handler="Import" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].NetworkName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].IpAddr)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Network[0].Password)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Network)
                                {
                                    if (item.Status.Equals("Using"))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NetworkName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IpAddr)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Password)
                                            </td>
                                            <td width="100px">
                                                <a asp-page="./Details" asp-route-id="@item.NetworkID">Details</a> |
                                                <a asp-page="./Edit" asp-route-id="@item.NetworkID">Edit</a> |
                                                <a asp-page="./Delete" asp-route-id="@item.NetworkID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>

        function run() {
            document.getElementById("ff").innerHTML = document.getElementById("fUpload").value
        }
        </script>
