@page
@model tbkk_AC.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Asset Control</a>
            </li>
            <li class="breadcrumb-item active">Managment</li>
            <li class="breadcrumb-item active">Expired</li>
        </ol>
        <!-- DataTables Example -->

        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table">Expired</i>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    StartDate
                                </th>
                                <th>
                                    ExpireDate
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.License)
                            {
                                if (item.Status.Equals("Using"))
                                {
                                    if (item.ExpireDate < DateTime.Now.AddMonths(+1) || item.ExpireDate < DateTime.Now)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LicenseID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LicenseName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpireDate)
                                            </td>

                                            <td>
                                                @if (item.ExpireDate < DateTime.Now.AddMonths(+1)&&item.ExpireDate > DateTime.Now)
                                                {
                                                    <h4>
                                                        <span class="badge badge-warning">Expiring</span>
                                                    </h4>
                                                }
                                                else
                                                {
                                                    <h4>
                                                        <span class="badge badge-danger">Expired</span>
                                                    </h4>
                                                }
                                            </td>
                                            <td width="100px">
                                                <a asp-page="./Licenses/Edit" asp-route-id="@item.LicenseID">Edit</a> |
                                                <a asp-page="./Licenses/Delete" asp-route-id="@item.LicenseID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @foreach (var item in Model.Asset)
                            {
                                if (item.Status.Equals("Using"))
                                {
                                    if (item.ExpireDate < DateTime.Now.AddMonths(+1) || item.ExpireDate < DateTime.Now)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssetID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssetName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstallDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpireDate)
                                            </td>
                                            <td>
                                                @if (item.ExpireDate < DateTime.Now.AddMonths(+1)&&item.ExpireDate > DateTime.Now)
                                                {
                                                    <h4>
                                                        <span class="badge badge-warning">Expiring</span>
                                                    </h4>
                                                }
                                                else
                                                {
                                                    <h4>
                                                        <span class="badge badge-danger">Expired</span>
                                                    </h4>
                                                }
                                            </td>
                                            <td width="100px">
                                                <a asp-page="./Assets/Edit" asp-route-id="@item.AssetID">Edit</a> |
                                                <a asp-page="./Assets/Delete" asp-route-id="@item.AssetID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
