@page
@model tbkk_AC.Pages.UpdateNetwork.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Update_Network</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.NetworkName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.NetworkName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.IpAddr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.IpAddr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Employee_EmpID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Employee_EmpID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_Network.Network_NetworkID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_Network.Network_NetworkID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Update_Network.NetworkUpdateID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
